:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --font: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: var(--light-gray);
    font-family: var(--font);
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.container {
    box-sizing: border-box;
    background-color: var(--white);
    width: 400px;
    height: 625px;
    border-radius: 25px;
    padding: 15px 15px;
}

.container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.text-container .title {
    font-size: 24px;
    text-align: center;
    color: var(--dark-blue);
}

.container .text-container {
    margin: 15px 10px;
}

.text-container .subtitle {
    text-align: center;
    font-size: 18px;
    color: var(--grayish-blue);
}

footer {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}